body {font-family: 'Roboto', sans-serif;
color:#434455;
background-color: #ffffff;
font-size: 16px;}
button{cursor: pointer;}

 ul, ol {list-style-type: none;}
 
.nav{background: #fff;}
.hero {}
.span-logo{color: #2e2f42;}


.hero-title {font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.list-hero {}

.item {}

.item-link {color: #2e2f42;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;}
.item-link:hover, .item-link:focus{color: #404bbf;}

.contactu {
        font-style: normal;
    line-height: 1.5;
letter-spacing: 0.02;}


.con-list {}

.con-item {letter-spacing: 0.02em;
    color: #434455;}

.add {color: #434455;}
.add:hover, .mail:focus {
    color: #404bbf;
}


.main {}

.sec {background-color: #2e2f42;}

.main-title {text-align:center;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;}

.btn-order-service {line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
        background: #4d5ae5;
        color: #fff; 
    }
.btn-order-service:hover, 
.btn-order-service:focus {background: #404bbf;}


.sec-futures {}


.fut-list {}

.fut-item {}

.title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    }

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

.sec-our {background-color: #F4F4FD;}

.team {}

.title-our {text-transform: capitalize;
    text-align:center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.team-list {}

.item-our {background-color: #FFFFFF;}

.title-person {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    }

.our-text {
letter-spacing: 0.02em;
color: #434455;
line-height: 1.5;}

.sec-our-portfolio {}

.title-our-portfolio {
    font-size: 20px;
    line-height: 1.2;}

.Portfolio-list {}

.item-portfolio {}

.title-banking-app {
    font-size: 20px;
    line-height: 1.2;}

.app-text {}

.title-cashless-payment {
    font-size: 20px;
    line-height: 1.2;}

.title-meditation-app {
    font-size: 20px;
    line-height: 1.2;}

.meditation-text {}

.item-auto {}

.title-taxi-service {
    font-size: 20px;
    line-height: 1.2;}

.taxi-text {}

.title-screen-illustrations {
    font-size: 20px;
    line-height: 1.2;}

.design-text {}

.title-online-courses {
    font-size: 20px;
    line-height: 1.2;}

.online-courses-text {}

.sec-footer {background-color: #2e2f42;}

.footer-title {}

.footer-text {color: #f4f4fd;
line-height: 1.5;
letter-spacing: 0.02em;}
footer .span-logo {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}